  <%@products.each do |product|%>
    <div class="card" style="width: 7rem;">
      <%= image_tag product.image, height: 100 %>
      <div class="card-body p-1 bd-highlight">
        <h5 class="card-title text-center"><%=link_to product.name, product%></h5>
        <p class="card-text">Price: <%=number_to_currency(product.price)%></p>
        <% if current_user %>
              <%= button_to 'In cart', line_items_path(product_id: product.id), class: "btn btn-warning text-end" %>
        <% end %>
      </div>
    </div>
  <%end%>  