<h3> Your order #<%=@order.id%>

<table class="table">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
</table>