  <div class="container-fluid">
  <div class="row">
        <h1 class="text-center">Category: <%= @category.title %></h1>
  </div>
  <div class="row d-flex justify-content-around">
    <%= render partial: "products/products" %>
  </div> 
</div>
