<div class="d-flex flex-row bd-highlight mb-3">
  <%@products.each do |product|%>
    <div class="card" style="width: 7rem;">
      <%= image_tag product.image, height: 100 %>
      <div class="card-body p-1 bd-highlight">
        <h5 class="card-title text-center"><%=link_to product.name, product%></h5>
        <p class="card-text">Price: <%=number_to_currency(product.price)%></p>
        <button type="button" class="btn btn-info">In card</button>
      </div>
    </div>
  <%end%> 
</div> 